@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chart App</h1>
    <p>Click here to create a chart: <a asp-controller="Chart" asp-action="ChartResult">Create Chart</a></p>
</div>